<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Voter registration</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static "authorities/fonts/material-icon/css/material-design-iconic-font.min.css"%}"">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static "authorities/css/style.css"%}"">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Voter Registration</h2>
                        <form method="POST" class="register-form" enctype="multipart/form-data" >
                            {% csrf_token %}

                            <div >
                                {% if messages %}
                                    <ul class="alert alert-danger">
                                        {% for message in messages %}

                                                <div style="color: red; font-size:10px;">
                            
                                                    {{ message }}

                                                    <li>Username : {{details.username }}</li>
                                                     <li>Password : {{details.password }}</li>
                                                </div>

                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>


                            <div class="form-group">
                                <span id="sp1" style="color: red;"></span>
                                <label ><i class="zmdi zmdi-font"></i></label>
                                <input type="text" name="name" id="voter_name" placeholder=" Enter name " onkeyup="clearmsg('sp1')" >
                            </div>
                            <div class="form-group">
                                <span id="sp2" style="color: red;"></span>
                                <label for="name"><i class="zmdi zmdi-upload"></i></label>
                                <input type="file" class="form-control"  name="voter_img" id="upload_img"  onkeyup="clearmsg('sp2')">
                  
                            </div>
                            <div class="form-group">
                                <span id="sp3" style="color: red;"></span>
                                <label for="pass"><i class="zmdi zmdi-plus-circle"></i></label>
                                <input type="text" name="add_no" id="voter_addno" placeholder=" Enter Adhaar  Number" onkeyup="clearmsg('sp3')" >
                            </div>

                            <div class="form-group">
                                <span id="sp4" style="color: red;"></span>
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="text" name="email"  placeholder="Enter Email" id="voter_email" onkeyup="clearmsg('sp4')">
                            </div>
                            
                            <div class="form-group">
                                 <span id="sp5" style="color: red;"></span>
                                <label for="pass"><i class="zmdi zmdi-phone"></i></label>
                                <input type="text" name="phone"  placeholder=" Enter Phone Number" id="voter_phone" onkeyup="clearmsg('sp5')">
                            </div>
                            <div class="form-group">
                                 <span id="sp10" style="color: red;"></span>
                                <label for="pass"><i class="zmdi zmdi-flickr"></i></label>
                                <input type="text" name="religion"  placeholder=" Enter Religion" id="voter_religion" onkeyup="clearmsg('sp10')">
                            </div>
                              <div class="form-group">
                                 <span id="sp11" style="color: red;"></span>
                                <label for="pass"><i class="zmdi zmdi-flickr"></i></label>
                                <input type="text" name="caste"  placeholder=" Enter Caste " id="voter_caste" onkeyup="clearmsg('sp11')">
                            </div>


                            <div class="form-group">
                                <span id="sp6" style="color: red;"></span>
                                <select name="gender" class="form-control" id="voter_gender" onkeyup="clearmsg('sp6')">
                                    <option value="">Select gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Others">Others</option>






                                  </select>
                            </div>



                            <div class="form-group">
                                <span id="sp7" style="color: red;"></span>
                                <label for="pass">DOB</label>
                                <input  type="date" name="dob" id="voter_dob" onkeyup="clearmsg('sp7')" >
                            </div>
                            <div class="form-group">
                                <span id="sp8" style="color: red;"></span>
                                <textarea name="address" placeholder="Type Address" id="voter_address" onkeyup="clearmsg('sp8')" cols="30" rows="10"></textarea>
                                
                            </div>


                           
                            
                            <div class="form-group form-button">
                                <input type="submit"  onclick="return check(); "  class="form-submit" value="Register "/>
                                <a href="{% url 'login_page' %}"> <input type="button"  style="margin-left:30px;"  class="form-submit" value="Back "/></a>
                               
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static "authorities/images/tutor-image.jpg"%}"" alt="sing up image"></figure>
                        
                    </div>
                </div>
            </div>
        </section>

        

    </div>

    <!-- JS -->
    <script src="{% static "authorities/vendor/jquery/jquery.min.js"%}""></script>
    <script src="{% static "authorities/js/main.js"%}""></script>

<script>
    function check()
    {
        var get_name=document.getElementById('voter_name').value;
        var get_img=document.getElementById('upload_img').value;
        var get_addno=document.getElementById('voter_addno').value;
        var get_email=document.getElementById('voter_email').value;
        var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
        var get_phone=document.getElementById('voter_phone').value;
        var get_caste=document.getElementById('voter_caste').value;
        var get_religion=document.getElementById('voter_religion').value;
        var get_gender=document.getElementById('voter_gender').value;
        var get_dob=document.getElementById('voter_dob').value;
        var get_address=document.getElementById('voter_address').value;

        var e_date=get_dob.split("-");

        var today=new Date();


        var yy=today.getFullYear();

        var age=yy - e_date[0]


        console.log("birth year")

        console.log(e_date[0])

        console.log("current year")
        console.log(yy)

        console.log("age")
        console.log(age)





        if(get_name == "")
        {
           document.getElementById("sp1").innerHTML=" Name  is required!";
          return false;
        }
        if(get_img == "")
        {
           document.getElementById("sp2").innerHTML="Image is required!";
          return false;
        }
         if(get_addno == "")
        {
           document.getElementById("sp3").innerHTML=" Adhaar Number is required!";
          return false;
        }
        if(get_addno !=parseInt(get_addno, 10))
        {
           document.getElementById("sp3").innerHTML=" Adhaar Number is not valid!";
          return false;
        }

        if(get_addno.length !=12)
        {
           document.getElementById("sp3").innerHTML=" Adhaar Number is not valid!";
          return false;
        }



         if(get_email == "")
        {
           document.getElementById("sp4").innerHTML=" Email is required!";
          return false;
        }
        if (reg.test(get_email) == false)
        {
          document.getElementById("sp4").innerHTML="Email is not valid!";
          return false;
        }
        if(get_phone == "")
        {
           document.getElementById("sp5").innerHTML=" Phone is required!";
          return false;
        }
         if(get_phone.length != 10)
        {
           document.getElementById("sp5").innerHTML=" Phone is not valid!";
          return false;
        }
        if(get_religion == "")
        {
           document.getElementById("sp10").innerHTML=" Religion is required!";
          return false;
        }
         if(get_caste == "")
        {
           document.getElementById("sp11").innerHTML=" Caste is required!";
          return false;
        }


        if(get_gender == "")
        {
           document.getElementById("sp6").innerHTML=" Gender is required!";
          return false;
        }
         if(get_dob == "")
        {
           document.getElementById("sp7").innerHTML=" Date of Birth is required!";
          return false;
        }
        if(age < 18)
        {
           document.getElementById("sp7").innerHTML=" You need to 18+ to get registered !";
          return false;
        }
        if(get_address == "")
        {
           document.getElementById("sp8").innerHTML=" Address is required!";
          return false;
        }


    }

    function clearmsg(sp)
    {

        document.getElementById(sp).innerHTML="";
    }

</script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>