<html lang="en">
{% extends 'admin/admin_homepage.html' %}
<head>
    
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approve Candidates </title>
</head>
<body>
    {% block content %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Candidates Details</h1>
            
        </div>
        

        <!-- Content Row -->
        <div class="row">
            <div class="card shadow mb-4">
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Sl.No</th>
                                    <th>Application No</th>
                                                
                                    <th>Name</th>

                                    <th>Photo</th>
                                    <th>Party Name</th>
                                    <th colspan="3">Symbol</th>
                                               
                                    <th colspan="2">Update</th>

                                    
                                    <th >Action</th>
                                    <th>View Profile</th>
                                    <th>Nomination Status</th>
                                    
                                </tr>
                            </thead>
                            
                            <tbody>
                                {% for x in candidates_details %}
                                    <tr>
                                        <td>{{forloop.counter|add:0}}</td>
                                        <td>{{x.application_no}}</td>
                                        <td>{{x.name}}</td>
                                         <td> <img src="{{x.user_id.voter_img.url}}" width="100px" height="100px" class="rounded" alt="Symbol"> </td>
                                        <td>{{x.party_name}}</td>
                                        <form action="" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                        <td> <img src="{{x.symbol_img.url}}" width="100px" height="100px" class="rounded" alt="Symbol"> </td>
                                            <td><input type="file" name="party_symbol"></td>
                                        <td><button type="submit"  class="btn btn-warning" name="upload_id" value="{{x.id}}">Add</button> </td>

                                            <td><select name="update" id="">
                                                <option > Select </option>
                                                <option > Approved </option>
                                                <option > Not Approved</option>
                                                </select>
                                            </td>
                                                

                                            <td><button type="submit"  class="btn btn-success" name="update_id" value="{{x.id}}">Update</button> </td>
                                            <td><button type="submit"  class="btn btn-danger" onclick="return show_alert()" name="remove_id" value="{{x.id}}">Remove</button> </td>
                                        </form>
                                         <td><a href="{% url 'profile_view' x.id %}"><button type="button"  class="btn btn-primary" >Profile</button></a> </td>
                                            <td>{{x.status}}</td>
                                    </tr>
                                {% endfor %}
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
          
            
            



            
            

            

           
        </div>

        

       

    </div>
    <script>
        function show_alert()
        {
            if(!confirm("Do you really want to remove it?")) 
            {
                return false;
            }
            
            this.form.submit();
        }
    </script>

    {% endblock %}

    

   
    
</body>
</html>